.controls {
    width: 200px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding: 10px;
}

.controls label {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.controls label input {
    width: 100%;
    box-sizing: border-box;
}

.controls button {
    background-color: limegreen;
}

.controls button.red {
    background-color: salmon;
}